{{! This is the post loop - each post will be output using this markup }}

<div class="o-grid">
	{{#foreach posts}}
	<article class="c-post o-layout__left@post_float o-grid__item@post_float u-1/2@post_float u-1/3@post_float_wide">
		<div class="c-post__content">
			{{#if image}}
			<a href="{{url}}">
				<div class="c-post__image c-post__image--{{id}}" style="background-image: url({{@image}});"></div>
			</a>
			{{/if}}

			<header>
				<h2 class="c-post__title"><a href="{{url}}">{{{title}}}</a></h2>
			</header>

			<div class="c-author--brief">
				<span>By {{author}}</span>
				<time datetime="{{date format='YYYY-MM-DD'}}"> &ndash; {{date format="DD MMMM YYYY"}}</time>
				<span> {{tags prefix="– "}}</span>
			</div>

			<section>
				{{#if image}}<p>{{excerpt words="40"}}&hellip;</p>{{/if}}
				{{#unless image}}<p>{{excerpt words="150"}}&hellip;</p>{{/unless}}
				<a href="{{url}}" class="c-post__link">Read more</a>
			</section>
		</div>
	</article>
	{{/foreach}}
</div>

{{! Previous/next page links - displayed on every page }}
{{pagination}}
