<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />

		<title>{{meta_title}}</title>

		<meta name="description" content="{{meta_description}}" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<script>document.documentElement.className = document.documentElement.className.replace('no-js', 'has-js');</script>

		<link rel="icon" href="http://www.codecomputerlove.com/_client/images/favicons/favicon.ico" type="image/x-icon">
		<link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700|Source+Sans+Pro:400,700,900,300' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="/assets/css/main.css" inline />
		{{ghost_head}}
	</head>
	<body class="{{body_class}}">
		<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TL983P" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-TL983P');</script>
		{{> "master"}}
		{{ghost_foot}}
		<script src="/assets/js/main.js" inline></script>
	</body>
</html>
