<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
		<title>{{meta_title}}</title>
		<meta name="description" content="{{meta_description}}" />
		<link rel="stylesheet" type="text/css" href="/assets/css/main.css" inline />
		<link rel="stylesheet" type="text/css" href="/assets/css/styleguide.css" inline />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		{{ghost_head}}
	</head>
	<body class="{{body_class}}">
		{{> "master"}}
		{{ghost_foot}}
	</body>
</html>
